* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}
:root {
  --mainColor: #0169fe;
  --secundaryColor: #ffff;
  --bodyColor: #000;
}
.rigth {
  justify-self: right;
}
body {
  background: var(--bodyColor);
  display: flex;
  flex-direction: column;
}

/* HEADER NAV */
header {
  margin-bottom: 142px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0 100px;
}
nav button {
  background-color: var(--bodyColor);
  color: var(--mainColor);
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--mainColor);
}
.redesHeader {
  display: flex;
  flex-direction: row;
  gap: 68px;
}
.redesHeader img {
  height: 44px;
}

.btnHeaderWsp {
  height: 46px;
  width: 328px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 18px;
}

/* CARDS PRINCIPAL */
.cardContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 90px;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 58px;
  width: 100%;
}
.cardContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #0169fe 0%,
    rgba(1, 105, 254, 0.45) 0.01%,
    rgba(1, 105, 254, 0.75) 100%
  );
  bottom: 0;
  left: 0;
  top: 0;
}

.cardContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardTitle {
  border-radius: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  bottom: 40px;
  left: 16px;
  z-index: 100;
  font-size: 40px;
  font-weight: 500;
}
/* FORM CONTACT */
#formContainer {
  padding: 73px 122px;
  background: url("/img/infinite.svg") no-repeat;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  background-position-x: 50%;
  background-size: cover;
  flex-direction: row;
}
form input,
form textarea {
  background-color: var(--bodyColor);
  border: 2px solid var(--mainColor);
}
form input::placeholder,
form textarea::placeholder {
  color: var(--mainColor);
  font-size: 20px;
  padding: 12px 32px;
}

#form {
  display: grid;
  grid-template-areas:
    "nombre apellido contacto"
    "empresa consulta contacto"
    "email telefono contacto"
    "texto texto contacto"
    "boton boton contacto";
  gap: 40px;
  width: 60%;
  margin-right: 145px;
}

#nombre {
  grid-area: nombre;
}

#apellido {
  grid-area: apellido;
}
#empresa {
  grid-area: empresa;
}

#consulta {
  grid-area: consulta;
}
#email {
  grid-area: email;
}

#telefono {
  grid-area: telefono;
}
#contacto {
  grid-area: contacto;
  width: 40%;
}
#boton {
  grid-area: boton;
  background-color: var(--mainColor);
  color: var(--secundaryColor);
  border: 0;
  padding: 12px 48px;
  height: 56px;
  width: 318px;
  font-size: 20px;
  justify-self: center;
}
#texto {
  grid-area: texto;
  background-color: transparent;
  margin-top: 40px;
  resize: none;
}
#nombre,
#apellido,
#empresa,
#consulta,
#email,
#telefono,
#texto {
  padding: 12px 32px;
  background-color: transparent;
}

.contactDiv {
  color: var(--secundaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.contactDiv_general {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.contactDiv_Email,
.contactDiv_Email h3,
.contactDiv_wsp,
.contactDiv_wsp h3 {
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
}
.contactDiv_Email p,
.contactDiv_wsp p {
  font-size: 18px;
  font-weight: 600;
}
.logoContact {
  width: 343px;
  margin-top: -45px;
}
.whatsappIcon {
  height: 50px;
  width: 49.7px;
}
.emailIcon {
  height: 45px;
  width: 45px;
}
/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: var(--mainColor);
  height: 100px;
}

.footerBtn {
  background-color: var(--mainColor);
  color: var(--secundaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--secundaryColor);
  height: 46px;
  width: 328px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  /* NAV */
  nav {
    padding: 0;
  }
  /* FORM */
  #form {
    grid-template-areas:
      "nombre apellido "
      "empresa consulta "
      "email telefono "
      "texto texto"
      "boton boton";
  }
  form input::placeholder,
  form textarea::placeholder {
    font-size: 20px;
    padding: 7px 7px;
  }
  .emailIcon,
  .whatsappIcon {
    margin-right: 20px;
  }
  #nombre,
  #apellido,
  #empresa,
  #consulta,
  #email,
  #telefono,
  #texto {
    padding: 18px 32px;
  }
  #formContainer {
    margin-bottom: 50px;
  }
  /* CONTACT */
  .contactDiv_Email,
  .contactDiv_wsp {
    width: 200px;
  }
  .contactDiv_Email h3,
  .contactDiv_wsp h3 {
    font-size: 25px;
  }
  .contactDiv_Email p,
  .contactDiv_wsp p {
    font-size: 20px;
  }

  /* FOOTER */
  .redesHeader,
  .redesHeader img {
    height: 30px;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  header {
    margin-bottom: 100px;
  }

  .redesHeader,
  .redesHeader img {
    height: 30px;
    gap: 10px;
  }
  .btnHeaderWsp {
    width: 200px;
    font-size: 14px;
  }
  /* CARDS */
  .cardTitle {
    font-size: 25px;
  }
  /* FORM */
  #form {
    margin: 0;
    grid-template-areas:
      "nombre"
      "apellido "
      "empresa" "consulta "
      "email" "telefono "
      "texto"
      "boton";
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  form input::placeholder,
  form textarea::placeholder {
    font-size: 20px;
    padding: 7px 20px;
  }

  #formContainer {
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
  }
  #texto {
    margin: 0;
  }
  #nombre,
  #apellido,
  #empresa,
  #consulta,
  #email,
  #telefono,
  #texto {
    padding: 12px 4px;
  }
  /* CONTACT */

  .contactDiv_wsp,
  .contactDiv_Email {
    margin: 15px;
    font-size: 15px;
  }
  #contacto {
    width: 100%;
    margin-top: 60px;
  }
  .logoContact {
    margin-top: 0;
  }
  .contactDiv_Email,
  .contactDiv_wsp {
    width: 180px;
  }
  .contactDiv_Email h3,
  .contactDiv_wsp h3 {
    font-size: 20px;
  }

  /* FOOTER */
  footer {
    padding: 0;
  }
  .redesHeader,
  .redesHeader img {
    height: 30px;
    gap: 10px;
  }
  .footerBtn {
    width: 200px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  /* NAV */
  nav {
    padding: 0;
  }

  .btnHeaderWsp {
    width: 200px;
    font-size: 14px;
  }

  /* CARDS */
  .cardContainer {
    height: 300px;
  }

  .cardContent {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardTitle {
    font-size: 20px;
  }

  /* FORM */

  form input::placeholder,
  form textarea::placeholder {
    font-size: 15px;
    padding: 6px 20px;
  }

  #formContainer {
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
  }
  #texto {
    margin: 0;
  }
  #nombre,
  #apellido,
  #empresa,
  #consulta,
  #email,
  #telefono,
  #texto {
    padding: 12px 4px;
  }
  /* CONTACT */
  .logoContact {
    width: 280px;
  }

  /* FOOTER */
  footer {
    padding: 0;
  }
  .redesHeader,
  .redesHeader img {
    height: 30px;
    gap: 10px;
  }
}
@media (max-width: 400px) {
  .logo {
    height: 60px;
  }
  .btnHeaderWsp {
    width: 100px;
    font-size: 10px;
  }

  .redesHeader img {
    height: 20px;
    gap: 5px;
  }
  #formContainer {
    margin-top: 30px;
  }
  .logoContact {
    width: 200px;
  }
  .contactDiv_Email h3,
  .contactDiv_wsp h3 {
    font-size: 15px;
  }
  .contactDiv_Email p,
  .contactDiv_wsp p {
    font-size: 12px;
  }
  .footerBtn {
    width: 100px;
    font-size: 10px;
  }
}
